@(myResource: Int)

<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Resources Management</title>
  <script type="text/javascript" src="assets/javascripts/angular.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/xeditable.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/xeditable.css">
  <script type="text/javascript" src="assets/javascripts/angular-resource.js"></script>
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/bootstrap.js"></script>
  <script src="assets/javascripts/highcharts.js"></script>
  <script src="assets/javascripts/exporting.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">

  <!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>-->

  <script type="text/javascript">

  var app = angular.module("app", ["xeditable", "ngResource"]);



  app.run(function(editableOptions) {
    editableOptions.theme = 'bs3';
  });



  app.controller('Ctrl', function($scope, $filter, $http) {

    $scope.hideForm = true;


    $http.get('/getResourceDetails?resourceID=@myResource')
    .then(function(res){
      $scope.resource = res.data;
      //loadGraph();
    });

    $scope.user = {
      status: 2
    };
  });

  </script>
</head>


<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Resources Management</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li class="active"><a href="/resources">Resources</a></li>
          <li><a href="/vacations">Vacations</a></li>
          <li><a href="/bankHolidays">Bank Holidays</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div ng-app="app" ng-controller="Ctrl" class="ng-scope">
    <br/>
    <div class="row">
      <div class="col-md-2">
        <label>Resource Name:</label>
      </div>
      <div class="col-md-4">
        {{resource.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label>Location:</label>
      </div>
      <div class="col-md-4">
        {{resource.location}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label>Position:</label>
      </div>
      <div class="col-md-4">
        {{resource.position}}
      </div>
    </div>
    <br/>
    <br/>


    <div class="row" ng-repeat="bankHoliday in project.bankHolidays">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-9 alert alert-info" role="alert">
        INFO: There is a bank holiday in {{bankHoliday.location}} on the {{bankHoliday.date}}: {{bankHoliday.name}}
      </div>
    </div>
    <div class="row" ng-repeat="vacation in project.vacations">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-9 alert alert-danger" role="alert">
        WARNING: {{vacation.firstName}} is taking vacations from the {{vacation.startDate}} to the {{vacation.endDate}}
      </div>
    </div>


    <div ng-repeat="project in resource.projects">
      <h3><a href="projectPage?projectID={{project.id}}">{{project.projectName}}</a></h3>
      Customer: {{project.customerName}}<br/>
      Status: {{project.slotStatus}}<br/>
      <table class="table table-bordered table-hover rmTable">
        <tr style="font-weight: bold">
          <td>Start Date</td>
          <td>End Date</td>
          <td>Allocation</td>
          <td>Description</td>
        </tr>
        <tr ng-repeat="slot in project.slots | orderBy:'startDate'">
          <td>
            <span editable-date="resource.startDate" e-name="startDate" e-form="rowform">
              {{ slot.startDate || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-date="resource.endDate" e-name="endDate" e-form="rowform">
              {{ slot.endDate || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="resource.allocationPercentage" e-name="allocationPercentage" e-form="rowform">
              {{ slot.allocationPercentage || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-textarea="resource.slotDescription" e-name="slotDescription" e-form="rowform">
              {{ slot.slotDescription}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</body>
</html>
