@(myResource: Int)

<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Resources Management</title>
  <script type="text/javascript" src="assets/javascripts/angular.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/xeditable.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/xeditable.css">
  <script type="text/javascript" src="assets/javascripts/angular-resource.js"></script>
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/bootstrap.js"></script>
  <script src="assets/javascripts/highcharts.js"></script>
  <script src="assets/javascripts/exporting.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">

  <!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>-->

  <script type="text/javascript">

  var app = angular.module("app", ["xeditable", "ngResource"]);
  var today = new Date();
  var endDate = new Date();
  endDate.setDate(today.getDate()+21);

  function calculateData(res){
    var currentDate = new Date();
    var newData = {dates:[],projects:[]};
    while (currentDate < endDate){
      var newDate = {date:""};
      newDate.date = "" + currentDate.getDate() + "/" + (currentDate.getMonth()+1);
      newData.dates.push(newDate);
      currentDate.setDate(currentDate.getDate()+1);
    };
    res.projects.forEach(function(project){
      var newProject = {name:"",daysPercent:[]};
      var projectValid = false;
      newProject.name = project.projectName;

      currentDate = new Date();
      while (currentDate < endDate){
        var newDayPercent = {value:0};
        console.log("Current Date:" + currentDate.toDateString());
        project.slots.forEach(function(slot){
          //date = new Date();
          var startDate = new Date(slot.startDate);
          var endDate = new Date(slot.endDate);
          //console.log(startDate.toDateString());
          //console.log(endDate.toDateString());
          var day = "";
          if (currentDate.getDate()<10){
            day ="0"+currentDate.getDate();
          } else {
            day = "" + currentDate.getDate();
          }
          var month = "";
          if (currentDate.getMonth()<9){
            month ="0"+(currentDate.getMonth() + 1);
          } else {
            month = "" + (currentDate.getMonth()+1);
          }
          var cDate = "" + currentDate.getFullYear() + "-" + month + "-" + day;
          console.log("cDate:" + cDate);
          if ((cDate >= slot.startDate) & (cDate <= slot.endDate)){
            newDayPercent.value = newDayPercent.value + slot.allocationPercentage;
            console.log(newDayPercent.toString());
            projectValid = true;
            //console.log(currentDate);
          };
        });
        newProject.daysPercent.push(newDayPercent);
        currentDate.setDate(currentDate.getDate()+1);
      };
      if (projectValid){
        newData.projects.push(newProject);
      };

    });
    return newData;
  };

  app.run(function(editableOptions) {
    editableOptions.theme = 'bs3';
  });



  app.controller('Ctrl', function($scope, $filter, $http) {

    $scope.hideForm = true;


    $http.get('/getResourceDetails?resourceID=@myResource')
    .then(function(res){
      $scope.resource = res.data;
      $scope.planningData = calculateData($scope.resource);
      //loadGraph();
    });

    $scope.user = {
      status: 2
    };
  });

  </script>
</head>


<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Resources Management</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li class="active"><a href="/resources">Resources</a></li>
          <li><a href="/vacations">Vacations</a></li>
          <li><a href="/bankHolidays">Bank Holidays</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div ng-app="app" ng-controller="Ctrl" class="ng-scope">
    <br/>
    <div class="row">
      <div class="col-md-2">
        <label>Resource Name:</label>
      </div>
      <div class="col-md-4">
        {{resource.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label>Location:</label>
      </div>
      <div class="col-md-4">
        {{resource.location}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label>Position:</label>
      </div>
      <div class="col-md-4">
        {{resource.position}}
      </div>
    </div>
    <br/>
    <br/>

    <h4>Next 3 weeks planning</h4>
    <table class="table table-bordered table-hover rmTable">
      <tr>
        <td><b>Project</b></td>
        <td ng-repeat="date in planningData.dates"><b>{{date.date}}</b></td>
      </tr>
      <tr ng-repeat="project in planningData.projects">
        <td><b>{{project.name}}</b></td>
        <td ng-repeat="dayPercent in project.daysPercent"> {{dayPercent.value}}</td>
      </tr>
    </table>

    <div class="row" ng-repeat="bankHoliday in project.bankHolidays">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-9 alert alert-info" role="alert">
        INFO: There is a bank holiday in {{bankHoliday.location}} on the {{bankHoliday.date}}: {{bankHoliday.name}}
      </div>
    </div>
    <div class="row" ng-repeat="vacation in project.vacations">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-9 alert alert-danger" role="alert">
        WARNING: {{vacation.firstName}} is taking vacations from the {{vacation.startDate}} to the {{vacation.endDate}}
      </div>
    </div>


    <div ng-repeat="project in resource.projects">
      <h3><a href="projectPage?projectID={{project.id}}">{{project.projectName}}</a></h3>
      <div class="row">
        <div class="col-md-1">
          <label>Customer:</label>
        </div>
        <div class="col-md-4">
          {{project.customerName}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <label>Status:</label>
        </div>
        <div class="col-md-4">
          {{project.slotStatus}}
        </div>
      </div>
      <table class="table table-bordered table-hover rmTable">
        <tr style="font-weight: bold">
          <td>Start Date</td>
          <td>End Date</td>
          <td>Allocation</td>
          <td>Description</td>
        </tr>
        <tr ng-repeat="slot in project.slots | orderBy:'startDate'">
          <td>{{slot.startDate}}</td>
          <td>{{slot.endDate}}</td>
          <td>{{slot.allocationPercentage}}</td>
          <td>{{slot.slotDescription}}</td>
        </tr>
      </table>
    </div>
  </div>


  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


</body>
</html>
